.ser-main {
  display: none;
}
@media only screen and (max-width: 767px) {
  .ser-main {
    display: block;
    padding-bottom: 30px;
  }
  .ser-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 10px 20px;
  }
  .ser-ttl {
    font-size: 30px;
    color: #e957c9;
  }
  .container {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 10px;
  }
  .ser-page {
    color: #e957c9;
    font-size: 16px;
    font-weight: bold;
  }
  .ser-icttl {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .container.ser-active {
    /* width: 100vw; */
    padding: 10px 20px 20px 20px;
  }

  .icon {
    width: 30px;
    padding: 10px;
    background: #e5e4f0;
    border-radius: 100px;
  }

  .title {
    color: #372f62;
    font-size: 20px;
    font-weight: bold;
  }

  .image {
    width: 130px;
    height: 40px;

    transition: width 0.3s ease;
  }

  .content {
    display: none;
    margin-top: 10px;
  }

  .container.ser-active .content {
    display: block;
    color: #615f6f;
    font-size: 12px;
    text-align: left;
    margin: 0;
  }

  .container.ser-active .image {
    width: 50vw;
  }
  .bk-btn {
    padding: 30px 50px;
    background: #372f62;
    border: none;
    color: #e49356;
    font-size: 22px;
    font-weight: bold;
    border-radius: 50%;
  }
}
